html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 600px;
    background-color: orangered;
}
.content {
    margin-top: 50px;
}
#listUL li {
    display: none;
    padding : 5px;
    border-radius: 10px;
    border: 5px solid #007F31;
    margin-bottom: 5px;
}
#listUL li i {
    color: #007F31;
}
.show {
    display: block !important;
}
.showElt {
    display: block !important;

}
.address {
    font-style: italic;
    font-size: 0.8rem;
}
.hide {
    display: none !important;
}