html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 600px;
    background-color: orangered;
}
.content {
    margin-top: 50px;
}
#listUL li {
    display: none;
    padding : 5px;
}
.show {
    display: block !important;
}
.showElt {
    display: block !important;
    background-color: lightgrey;
}
.hide {
    display: none !important;
}